---
layout: default
---
<article class="portfolio">

    <h1 class="post-title">{{ page.title | escape }}</h1>

    {{ content }}



    {% for proj_cat in site.data.projects %}

        <h2 id="{{ proj_cat.category_name | remove: " " | downcase }}">{{ proj_cat.category_name }}</h2>

        <div class="projects-wrapper">
            {% for project in proj_cat.projects %}
                <a href="{{ project.link }}" class="project-card-wrapper-link">
                    <!-- <div class="project-overlay"></div> -->
                    <div class="project-card">
                        <img src="{{ project.image }}">
                        <h4>{{ project.name }}</h4>
                        <p>{{ project.description | markdownify}}</p>
                    </div>
                </a>
            {% endfor %}
        </div>

    {% endfor %}



</article>
